$primary-color: #ff9900;
$secondary-color: #00a7ea;
// $dark-color: #060417;
$dark-color: #29254f;
$white-color: #ffffff;

// media widths
$tablet: 1299px;
$mobile: 769px;

%container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1300px) {
    padding: 0 16px;
  }
}

%title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 70px;
  color: $primary-color;
}
