@import 'styles/variables.scss';

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

$thumb-color: $dark-color;
$track-color: $secondary-color;

body {
  height: 200vh;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: $track-color;
  border-radius: 100vw;

  margin-block: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: $thumb-color;
  border-radius: 100vw;
  border: 0.25em solid $track-color;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: thin;
  }
}
